<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">
    <targets>
      <target name="logfileInfo" xsi:type="File" fileName="C://Logs//ComplicatedLog.txt" />
      <target name="logfileErrors" xsi:type="File"  layout="${uppercase:${level}}|${logger}|${message}|${date:format=dd\.MM\.yyyy}" fileName="C://Logs//ComplicatedLog.txt" />
      <target name="email" xsi:type = "Mail" subject="Fatal Error" body="${message}"
			smtpServer="smtp.gmail.com"
			smtpPort="25"
			smtpAuthentication="Basic"
			smtpUserName="tprogramming666@gmail.com"
			smtpPassword="teprogrammingtest666"
			enableSsl="true"
			from="tprogramming666@gmail.com"
			to="tprogramming666@gmail.com"
			/>
    </targets>
    <rules>
      <logger name="*" level="Info" writeTo="logfileInfo" />
      <logger name="*" level="Error, Warn" writeTo="logfileErrors" />
      <logger name="*" level="Fatal" writeTo="email" />
    </rules>
  </nlog>
</configuration>